@font-face{
    font-family:AvenirMedium;
    src: url(../font/Avenir.ttc);
}

#mainname{
    font-family: 'Rock Salt', cursive;
    padding: 20px;
}

#mainname small{
    font-family: Bebas;
    font-size: 20px;
}

body{
    font-family: 'AvenirMedium';
    background-color: #e4ded0;
}

a{
    color: #e32f21;
}

header{
    padding-top: 20px;
}


img{
    border-width: 20px;
    border-color: white;
}


/*index page*/

#about{
/*    background-color: #e32f21;*/
    background-image: url('../img/about_tile.png');
    max-height: 500px;
    max-width: 500px;
    height:500px;
    width: 500px;
    background-position: 0 0;
}

#about:hover{
    background-position: 0 100%;
}

#projects{
     background-image: url('../img/project_tile.png');
    max-height: 250px;
    max-width: 500px;
    height:250px;
    width: 500px;
    background-position: 0 0;
}

#projects:hover{
    background-position: 0 100%;
}

#resume{
    background-image: url('../img/resume_tile.png');
    max-height: 250px;
    max-width: 250px;
    height:250px;
    width: 250px;
    background-position: 0 0;
}

#resume:hover{
    background-position: 0 100%;
}

#contact{
    background-image: url('../img/contact_tile.png');
    max-height: 250px;
    max-width: 250px;
    height:250px;
    width: 250px;
    background-position: 0 0;
}

#contact:hover{
    background-position: 0 100%;
}