@font-face{
    font-family:AvenirMedium;
    src: url(../font/Avenir.ttc);
}

#mainname{
    font-family: 'Rock Salt', cursive;
    padding: 10px;
}

#mainname small{
    font-family: Bebas;
    font-size: 20px;
}

h1{
    font-family: Bebas;
}
body{
    font-family: AvenirMedium;
    background-color: #e4ded0;
}

a{
    color: #e32f21;
}

header{
    padding-top: 20px;
}


img{
    border-width: 20px;
    border-color: white;
}


/*index page*/

#about{
/*    background-color: #e32f21;*/
    background-image: url('../img/about_tile.png');
    max-height: 500px;
    max-width: 500px;
    height:500px;
    width: 500px;
    background-position: 0 0;
}

#about:hover{
    background-position: 0 100%;
}

#projects{
     background-image: url('../img/project_tile.png');
    max-height: 250px;
    max-width: 500px;
    height:250px;
    width: 500px;
    background-position: 0 0;
}

#projects:hover{
    background-position: 0 100%;
}

#resume{
    background-image: url('../img/resume_tile.png');
    max-height: 250px;
    max-width: 250px;
    height:250px;
    width: 250px;
    background-position: 0 0;
}

#resume:hover{
    background-position: 0 100%;
}

#contact{
    background-image: url('../img/contact_tile.png');
    max-height: 250px;
    max-width: 250px;
    height:250px;
    width: 250px;
    background-position: 0 0;
}

#contact:hover{
    background-position: 0 100%;
}

/*About*/

#bio{
    font-family: AvenirMedium;
}

/*Contact*/
#twitter{
    background-image: url('../img/twitter_logo.png');
    height: 100px;
    width:100px;
    float:left;
}

#twitter:hover{
    background-image: url('../img/twitter_text.png');
}

#email{
    background-image: url('../img/email_logo.png');
    height: 100px;
    width: 100px;
    float:left;
}

#email:hover{
    background-image: url('../img/email_text.png');
}

#linkedin{
    background-image: url('../img/linkedin_logo.png');
    height: 100px;
    width:100px;
    float: left;
}

#linkedin:hover{
    background-image: url('../img/linkedin_text.png');
}

#pinterest{
    background-image: url('../img/pinterest_logo');
    height: 100px;
    width:100px;
    float: left;
}

#pinterest:hover{
    background-image: url('../img/pinterest_text.png');
}

#instagram{
    background-image: url('../img/instagram_logo.png');
    height: 100px;
    width:100px;
    float: left;
}

#instagram:hover{
    background-image: url('../img/instagram_text.png');
}

#hitrecord{
    background-image: url('../img/hitrecord_logo.png');
    height: 100px;
    width: 100px;
    float: left;
}

#hitrecord:hover{
    background-image: url('../img/hitrecord_text.png');
}

#logos{
    padding-left: 100px;
    align-content: center;
}
