.heading {
}

.heading div {
/*    display: table-cell;*/
}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
}

.heading h1 {
    display: inline-block;
    font-family: 'Pacifico', cursive;
}

.hamburger {
    
}

.navigation {
    display: inline;
    list-style: none;
    float: right;
}

.menu-navs {
    display: none;
}

.about-parallax {
    background-image: url("https://s3.us-east-2.amazonaws.com/annadonut/images/wynwood_anna.jpg");
    height: 500px;
}

.speech-bubble {
    background-color: white;
    border: solid;
    box-shadow: -5px 9px 0 black;
    display: block;
    font-size: 15px;
    margin: 30px;
    padding: 25px;
    position: absolute;
    top: 150px;
}

.contact-info {
    font-size: 10px;
}

.footer {
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    .about-parallax {
        background-attachment: fixed;
        background-image: url("https://s3.us-east-2.amazonaws.com/annadonut/images/wynwood_horizontal.jpg");
        background-position: center -200px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        padding: 10px;
    }
    
    .speech-bubble {
        background-color: white;
        border: solid;
        box-shadow: -5px 9px 0 black;
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 20px;
        position: absolute;
        right: 50px;
        top: 150px;
        width: 35%;
    }
    .contact-info {
        font-size: 10px;
    }
}